.conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    position: relative;
    background-color: rgba(0,0,0,0.2);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.social img{
    z-index: 2;
    width: 30px;
    height: 30px;
}

.fond-insta, .fond_face{
    top: -40px;
    z-index: 1;
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    transition : 0.5s;
}

.fond-insta{
    background-color: #ac2bac;
}

.fond_face{
    background-color: #3b5999;
}

.social:hover .fond-insta{
    top : 0;
}

.social:hover .fond-face{
    top : 0;
}